# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 43ee17a457a349e8a29f24c3c195020119eaa055c0989016c5b286d1996d99668587e608709a010b28b5af94b82947acb5d69212b5606dbae5e70ca3874da3f4

test:
  secret_key_base: bcba7df319d2ca1f4473c65be86acbc7f404381f7734d46d07bae293732c04e92aebb8ed045ed56cfccbf5c25091cad1b2de0b6816b4ecff22730cf3b340192d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
